body {
    font: 'Poppins';
    background-color: #7c6e6e;
    margin: 200px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px;
}

.container {
    width: 30%;
    margin: 10px auto;
    margin-top: 10px;
    padding: 20px;
    background: #554747;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e9e5e5;
    text-align: center;
    font-size: 85px;
    margin-bottom: 0;
}

P {
    color: #e9e5e5;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #e0d8d8;
    font-size: 18px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
}

button {
    padding: 15px;
    border: 100px;
    background: #554747;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    width: 25%;
    font: 'Poppins';
    font-size: 16px;
}

button:hover {
    background: #554747;
}

p {
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: rgb(255, 255, 255);
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px auto;
    padding: 0 100px;
}